.cityItem,
.cityItem:link,
.cityItem:visited {
  display: flex;
  gap: 1.4rem;
  align-items: center;

  background-color: rgba(45, 52, 57, 0.65);
  border-radius: 10px;
  padding: 1.2rem 1.8rem;

  border-left: 4px solid;
  cursor: pointer;

  color: inherit;
  text-decoration: none;

  transition: all 0.25s ease;
}

/* Active */
.cityItem--active {
  background-color: var(--color-dark--1);
  border-left: 4px solid var(--color-brand--2);
  box-shadow: 0 0 0 1px rgba(34, 197, 94, 0.25);
}

/* Emoji */
.emoji {
  font-size: 2.4rem;
  line-height: 1;
}

/* City Name */
.name {
  font-size: 1.6rem;
  font-weight: 600;
  margin-right: auto;
  color: #ffffff;
}

/* Date */
.date {
  font-size: 1.35rem;
  color: var(--color-light--2);
}

/* Delete Button */
.deleteBtn {
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  border: none;

  background-color: var(--color-dark--1);
  color: var(--color-light--2);

  font-size: 1.4rem;
  font-weight: 600;

  cursor: pointer;
  transition: all 0.2s ease;
}

.deleteBtn:hover {
  background-color: #1abc9c;
  color: black;
  transform: scale(1.05);
}
