.cityItem,
.cityItem:link,
.cityItem:visited {
  display: flex;
  gap: 1.4rem;
  align-items: center;

  background-color: rgba(17, 24, 39, 0.7);
  border-radius: 12px;
  padding: 1.2rem 1.8rem;

  border-left: 4px solid;
  cursor: pointer;

  color: inherit;
  text-decoration: none;

  transition: all 0.25s ease;
  box-shadow: 0 8px 20px rgba(2, 6, 23, 0.35);
}

/* Active */
/* .cityItem--active {
  background-color: rgba(17, 24, 39, 0.95);
  border-left: 4px solid var(--color-brand--2);
  box-shadow:
    0 0 0 1px rgba(246, 195, 68, 0.25),
    0 12px 28px rgba(2, 6, 23, 0.45);
} */
.cityItem--active {
  border: 2px solid var(--color-brand--2);
  border-left: 4px solid var(--color-brand--2);
}

/* Emoji */
.emoji {
  font-size: 2.4rem;
  line-height: 1;
}

/* City Name */
.name {
  font-size: 1.6rem;
  font-weight: 600;
  margin-right: auto;
  color: #ffffff;
}

/* Date */
.date {
  font-size: 1.35rem;
  color: var(--color-light--2);
}

/* Delete Button */
.deleteBtn {
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  border: none;

  background-color: rgba(15, 23, 42, 0.9);
  color: var(--color-light--2);

  font-size: 1.4rem;
  font-weight: 600;

  cursor: pointer;
  transition: all 0.2s ease;
}

.deleteBtn:hover {
  background-color: #00d084;
  color: #0b0f14;
  transform: scale(1.05);
}
