.sidebar {
  flex-basis: 56rem;
  background-color: #242a2e;
  padding: 3rem 5rem 3.5rem 5rem;
  color: #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh);
  overflow-y: auto;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
}

.footer {
  margin-top: auto;
  width: 100%;
  text-align: center;
  padding-top: 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

/* copyright / small text */
.copyright {
  font-size: 1.25rem;
  color: #aaa; /* lighter for contrast */
  line-height: 1.5;
}
